---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我或者关于这里"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2025/08/30')}
	heroImage="/blog-placeholder-about.jpg"
>
	<h1>不好意思，但是这还需要一些调整</h1>
	<p>
		欢迎来到这里，虽然这里暂时一无所有
	</p>

	<p>
		这里有时会记录一下我想要做的事情或者正在做的某些事情
	</p>

	<p>
		我是FR-NEXT
	</p>

	<p>
		联系我？
        EMAIL：lu@tncrr.us.kg（虽然这个邮件有时不知道会发什么疯）
	</p>

	<p>
		</a> 本博客由开源项目<a href="https://github.com/withastro/astro">astro</a>Fork而来，</a> 由<a href="https://dash.cloudflare.com/">Cloudflare Workers</a>构建而来
	</p>

		<p>
		</a> 你在找这个吗？<a href="https://candytally10.vip/tgyun_sub?token=e632bb3b7680ffe4935b4f4f3613a8cb">candytally</a>
		</a> 或者这个？ <a href="https://github.com/WXRIW/Lyricify-App/releases/tag/v4.3.36">Lyricify on github</a>
		</a> 或者直接去这里？ <a href="https://apps.microsoft.com/detail/9p4wb75rhwch?hl=zh-CN&gl=CN">Lyricify on microsoft store</a>
	</p>
</Layout>
