---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我或者关于这里"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2025/08/30')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		欢迎来到这里，虽然这里暂时一无所有
	</p>

	<p>
		这里有时会记录一下我想要做的事情或者正在做的某些事情
	</p>

	<p>
		我是FR-NEXT
	</p>

	<p>
		联系我？
        EMAIL：lu@tncrr.us.kg（虽然这个邮件有时不知道会发什么疯）
	</p>

	<p>
		</a> 本博客由开源项目<a href="https://github.com/withastro/astro">astro</a>Fork而来，</a> 由<a href="cloudflare.com">Cloudflare Workers</a>构建而来
	</p>
</Layout>
