---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<Layout
	title="博客主页"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('2025/08/16')}
	heroImage="/blog-placeholder-about.jpg"
>
<!doctype html>
<html lang="zh-cn">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>你好！朋友</h1>
			<p>
				欢迎来到我的博客，这是我拖了两年才开始搞的
			</p>
			<p>
				为什么要搞一个这个博客？其实是我想把我的想法，我拍摄的照片寻找一个能够把它分享出去的小世界。把我不成熟的东西扔进互联网的垃圾桶里
			</p>
			<p>
				</a> 要不 <a href="https://space.bilibili.com/422660019">去哔哩哔哩关注我一下？</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
