---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="zh-cn">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>欢迎！</h1>
			<h3>正所谓有朋自远方来，不亦乐乎</h3>
			<p>
				欢迎来到我的博客，这是我拖了两年才开始搞的
			</p>
			<p>
				这个博客是一个无聊的人做的无聊的事，但有时也会有些有用的玩意
			</p>
			<p>
				</a> 要不 <a href="https://space.bilibili.com/422660019">去哔哩哔哩关注我一下？</a>
			</p>
			<h4>保持清醒，保持冷静，保持安全<h4>
		</main>
		<Footer />
	</body>
</html>
